extends layout

block content
  form(action="/login", method="post")
    label(for="email") Login
    input(type="text" id="email" name="email")
    label(for="password") Password
    input(type="text" id="password" name="password")
    input(type="submit" value="Login")
  a(href="/signup") Sign-Up
  form(action="/", method="post")
    label(for="price") Send me anywhere under....
    input(type="number" id="price" name='price')
    input(type="submit" value="Up Up and Away")
  p
  a(href="/parking/info")
   h1 Parking
  p
  a(href="/rental")
   h1 Car Rental
  p
  a(href="/hotel")
   h1 Hotels
    
